* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  /* to maintain consistent colors
      hsl variables will be used to adjust color options
  */
  --hue: 210;
  --saturation: 88%;
  --ligtness: 54%;
  --main: hsl(var(--hue), var(--saturation), var(--ligtness));
  --secondary: hsl(var(--hue), var(--saturation), 16%);
  --background: #ffffff;
  --background-shade: hsl(var(--hue), 30%, 95%);
  --normal-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
  --radius: 0.35em;
  --weight: 2px;
  --solid-shadow: 5px 5px 0 var(--secondary);
  --unpressed-transform: translate(-5px, -5px);
  --pressed-transform: translate(0px, 0px);
  --pressed-shadow: 0px 0px 0 var(--main);
  --flat-bg: #e2eaef;
  --flat-bg-active: #21adf212;
  --neu-shadow: 5px 5px 15px rgba(40, 46, 49, 0.122), -5px -5px 15px rgba(255, 255, 255, 0.678);
  --neu-shadow-soft: 5px 5px 8px rgba(0, 0, 0, 0.1), -5px -5px 12px rgba(255, 255, 255, 0.4), inset -5px -5px 8px rgba(0, 0, 0, 0.1), inset 5px 5px 12px rgba(255, 255, 255, 0.4);
  --neu-shadow-soft-alt: 5px 5px 8px rgba(0, 0, 0, 0.1), -5px -5px 12px rgba(255, 255, 255, 0.2), inset -5px -5px 8px rgba(0, 0, 0, 0.1), inset 5px 5px 12px rgba(255, 255, 255, 0.2);
  --pressed-neu-shadow-soft: -5px -5px 8px rgba(0, 0, 0, 0.1), 5px 5px 12px rgba(255, 255, 255, 0.4), inset 5px 5px 8px rgba(0, 0, 0, 0.1), inset -5px -5px 12px rgba(255, 255, 255, 0.4);
  --pressed-neu-shadow-soft-alt: -5px -5px 8px rgba(0, 0, 0, 0.1), 5px 5px 12px rgba(255, 255, 255, 0.2), inset 5px 5px 8px rgba(0, 0, 0, 0.1), inset -5px -5px 12px rgba(255, 255, 255, 0.2);
}

.action-btn {
  color: var(--secondary);
  border-radius: var(--radius);
  border: none;
  color: var(--background);
  cursor: pointer;
  padding: 8px;
  outline: none;
}

.action-btn span {
  display: inline-block;
  padding: 8px 12px;
}

/*************************solid-theme*************************/
.solid-theme.--btn {
  padding: 8px 12px;
  color: var(--secondary);
  border-radius: var(--radius);
  background: var(--background);
  border: var(--weight) solid var(--secondary);
  -webkit-box-shadow: var(--solid-shadow);
          box-shadow: var(--solid-shadow);
  -webkit-transform: var(--unpressed-transform);
          transform: var(--unpressed-transform);
}

.solid-theme.--btn:focus, .solid-theme.--btn:hover {
  -webkit-transform: var(--pressed-transform);
          transform: var(--pressed-transform);
  -webkit-box-shadow: var(--pressed-shadow);
          box-shadow: var(--pressed-shadow);
  border: var(--weight) solid var(--main);
  color: var(--main);
}

.solid-theme.--btn:active {
  -webkit-transform: var(--pressed-transform);
          transform: var(--pressed-transform);
  -webkit-box-shadow: var(--pressed-shadow);
          box-shadow: var(--pressed-shadow);
  background: var(--main);
  color: var(--background);
  border: var(--weight) solid var(--secondary);
}

.solid-theme.--input {
  border: var(--weight) solid var(--secondary);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--solid-shadow);
          box-shadow: var(--solid-shadow);
  -webkit-transform: var(--unpressed-transform);
          transform: var(--unpressed-transform);
  font-family: sans-serif;
  outline: none;
  background: none;
}

.solid-theme.--input:hover, .solid-theme.--input:focus {
  -webkit-transform: var(--pressed-transform);
          transform: var(--pressed-transform);
  -webkit-box-shadow: var(--pressed-shadow);
          box-shadow: var(--pressed-shadow);
}

.solid-theme.--input:valid {
  -webkit-transform: var(--pressed-transform);
          transform: var(--pressed-transform);
  -webkit-box-shadow: var(--pressed-shadow);
          box-shadow: var(--pressed-shadow);
  border: var(--weight) solid var(--main);
}

.solid-theme.--radio-field-cont input {
  display: none;
}

.solid-theme.--radio-field-cont input:checked + label {
  -webkit-transform: var(--pressed-transform);
          transform: var(--pressed-transform);
  -webkit-box-shadow: var(--pressed-shadow);
          box-shadow: var(--pressed-shadow);
  border: var(--weight) solid var(--main);
  background: var(--main);
  color: var(--background);
}

.solid-theme.--radio-field-cont label {
  border: var(--weight) solid var(--secondary);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--solid-shadow);
          box-shadow: var(--solid-shadow);
  -webkit-transform: var(--unpressed-transform);
          transform: var(--unpressed-transform);
  font-family: sans-serif;
}

.solid-theme.--radio-field-cont label:focus, .solid-theme.--radio-field-cont label:hover {
  background: var(--main);
  color: var(--background);
}

.solid-theme.--account-action {
  border-bottom: var(--weight) solid var(--secondary);
}

@media screen and (min-width: 769px) {
  .solid-theme.--account-action {
    border-right: var(--weight) solid var(--secondary);
    border-bottom: none;
  }
  .solid-theme.--account-action.slider-active {
    border-right: none;
    border-left: var(--weight) solid var(--secondary);
  }
}

.solid-theme.--container {
  -webkit-box-shadow: var(--solid-shadow);
          box-shadow: var(--solid-shadow);
  border: var(--weight) solid var(--secondary);
  border-radius: var(--radius);
}

/*************************flat-theme*************************/
.flat-theme.--btn {
  background: var(--main);
}

.flat-theme.--btn.alt-btn {
  background: var(--background);
  color: var(--main);
}

.flat-theme.--btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flat-theme.--btn:active {
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.flat-theme.--btn:focus {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.flat-theme.--input {
  border: none;
  border-radius: var(--radius);
  font-family: sans-serif;
  outline: none;
  background: var(--flat-bg);
  color: var(--secondary);
}

.flat-theme.--input:hover, .flat-theme.--input:focus {
  background: var(--flat-bg-active);
}

.flat-theme.--input:valid {
  background: var(--flat-bg-active);
  border: var(--weight) solid var(--main);
}

.flat-theme.--radio-field-cont input {
  display: none;
}

.flat-theme.--radio-field-cont input:checked + label {
  background: var(--flat-bg-active);
  border: var(--weight) solid var(--main);
  color: var(--main);
}

.flat-theme.--radio-field-cont label {
  border: none;
  border-radius: var(--radius);
  outline: none;
  background: var(--flat-bg);
  color: var(--secondary);
}

.flat-theme.--radio-field-cont label:focus, .flat-theme.--radio-field-cont label:hover {
  background: var(--flat-bg-active);
  color: var(--main);
}

.flat-theme.--container {
  border-radius: var(--radius);
  background: var(--background);
}

.flat-theme.--main,
.neu-theme.--main {
  background: var(--background-shade);
}

/*************************neu-theme*************************/
.neu-theme.--container {
  border-radius: var(--radius);
  background: var(--background-shade);
  -webkit-box-shadow: var(--neu-shadow-soft);
          box-shadow: var(--neu-shadow-soft);
}

.neu-theme.--account-action {
  margin: 18px;
  border-radius: var(--radius);
}

@media screen and (min-width: 769px) {
  .neu-theme.--account-action {
    height: calc(100% - (18px * 2)) !important;
  }
  .neu-theme.--account-action.slider-active {
    width: calc(50% - 18px);
  }
}

.neu-theme.--btn {
  position: relative;
  background: transparent;
  color: var(--secondary);
  -webkit-box-shadow: var(--neu-shadow-soft);
          box-shadow: var(--neu-shadow-soft);
  padding: 8px;
}

.neu-theme.--btn span {
  padding: 6px 10px;
  border-radius: var(--radius);
  border: 1px solid var(--main);
}

.neu-theme.--btn.alt-btn {
  -webkit-box-shadow: var(--neu-shadow-soft-alt);
          box-shadow: var(--neu-shadow-soft-alt);
}

.neu-theme.--btn.alt-btn span {
  color: var(--background);
  border: none;
}

.neu-theme.--btn.alt-btn span:hover, .neu-theme.--btn.alt-btn span:focus {
  background: transparent;
}

.neu-theme.--btn.alt-btn:active {
  -webkit-box-shadow: var(--pressed-neu-shadow-soft-alt);
          box-shadow: var(--pressed-neu-shadow-soft-alt);
}

.neu-theme.--btn:hover span,
.neu-theme.--btn:focus span {
  background: var(--main);
  color: var(--background);
}

.neu-theme.--btn:active {
  -webkit-box-shadow: var(--pressed-neu-shadow-soft);
          box-shadow: var(--pressed-neu-shadow-soft);
}

.neu-theme.--btn:active span {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.neu-theme.--input {
  position: relative;
  border: none;
  background: transparent;
  color: var(--secondary);
  -webkit-box-shadow: var(--neu-shadow-soft);
          box-shadow: var(--neu-shadow-soft);
  border-radius: var(--radius);
}

.neu-theme.--input:hover, .neu-theme.--input:focus {
  -webkit-box-shadow: var(--pressed-neu-shadow-soft);
          box-shadow: var(--pressed-neu-shadow-soft);
}

.neu-theme.--input:valid {
  -webkit-box-shadow: var(--pressed-neu-shadow-soft);
          box-shadow: var(--pressed-neu-shadow-soft);
  background: #21adf209;
}

.neu-theme.--radio-field-cont {
  margin: 0 12px 0 0;
}

.neu-theme.--radio-field-cont input {
  display: none;
}

.neu-theme.--radio-field-cont input:checked + label {
  -webkit-box-shadow: var(--pressed-neu-shadow-soft);
          box-shadow: var(--pressed-neu-shadow-soft);
}

.neu-theme.--radio-field-cont input:checked + label::after {
  -webkit-transform: translate(-270%, -50%) scale(1);
          transform: translate(-270%, -50%) scale(1);
}

.neu-theme.--radio-field-cont label {
  border: none;
  background: transparent;
  color: var(--secondary);
  -webkit-box-shadow: var(--neu-shadow-soft);
          box-shadow: var(--neu-shadow-soft);
  border-radius: var(--radius);
  position: relative;
}

.neu-theme.--radio-field-cont label span {
  margin: 0 30px 0 0;
}

.neu-theme.--radio-field-cont label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: var(--weight) solid var(--main);
  border-radius: 14px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-75%, -50%);
          transform: translate(-75%, -50%);
}

.neu-theme.--radio-field-cont label::after {
  content: "";
  width: 7px;
  height: 7px;
  background: var(--main);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-270%, -50%) scale(0);
          transform: translate(-270%, -50%) scale(0);
}

.neu-theme.--radio-field-cont label:focus, .neu-theme.--radio-field-cont label:hover {
  -webkit-box-shadow: var(--pressed-neu-shadow-soft);
          box-shadow: var(--pressed-neu-shadow-soft);
}

.material-theme.--main {
  background: var(--background);
}

.material-theme.--container {
  border-radius: var(--radius);
  background: var(--background);
  -webkit-box-shadow: 0px 0px 36px 2px rgba(34, 138, 241, 0.12);
          box-shadow: 0px 0px 36px 2px rgba(34, 138, 241, 0.12);
}

.material-theme.--account-action {
  position: relative;
}

.material-theme.--btn {
  position: relative;
  background: transparent;
  color: var(--secondary);
  -webkit-box-shadow: 0px 0px 36px 2px rgba(34, 138, 241, 0.12);
          box-shadow: 0px 0px 36px 2px rgba(34, 138, 241, 0.12);
  border: var(--weight) solid var(--main);
}

.material-theme.--btn.alt-btn {
  border-color: var(--background);
  color: var(--background);
}

.material-theme.--btn:hover, .material-theme.--btn:focus {
  background: var(--main);
  color: var(--background);
  -webkit-box-shadow: 0px 0px 36px 2px rgba(34, 138, 241, 0.5);
          box-shadow: 0px 0px 36px 2px rgba(34, 138, 241, 0.5);
}

.material-theme.--btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.input-field-cont input.material-theme.--input:focus + label span {
  -webkit-transform: translateY(calc(-200% + 12px)) scale(0.9);
          transform: translateY(calc(-200% + 12px)) scale(0.9);
  color: var(--secondary);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: var(--background);
  padding: 4px 6px;
  opacity: 1;
}

.input-field-cont input.material-theme.--input:valid + label span {
  -webkit-transform: translateY(calc(-200% + 12px)) scale(0.9);
          transform: translateY(calc(-200% + 12px)) scale(0.9);
  -webkit-transform-origin: left;
          transform-origin: left;
  color: var(--main);
  background: var(--background);
  padding: 4px 6px;
  opacity: 1;
}

.material-theme.--input {
  position: relative;
  background: var(--background);
  color: var(--secondary);
  padding: 0 0 0 24px !important;
  border-radius: var(--radius);
  border: var(--weight) solid var(--secondary);
}

.material-theme.--input:valid {
  border: var(--weight) solid var(--main);
}

.material-theme.--radio-field-cont {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-theme.--radio-field-cont input {
  display: none;
}

.material-theme.--radio-field-cont input:checked + label {
  background: var(--background);
  border: var(--weight) solid var(--main);
  color: var(--main);
}

.material-theme.--radio-field-cont label {
  padding: 12px;
  background: var(--background);
  color: var(--secondary);
  border-radius: var(--radius);
  border: var(--weight) solid var(--secondary);
}

.material-theme.--radio-field-cont label:focus, .material-theme.--radio-field-cont label:hover {
  background: var(--main);
  color: var(--background);
}

body {
  background: var(--background);
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.form-container {
  width: 85%;
  overflow: hidden;
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  position: relative;
}

.form-container *, .form-container *::before, .form-container *::after {
  -webkit-transition: all 0.18s ease;
  transition: all 0.18s ease;
  font-size: 14px;
}

.form-container .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-wrapper.wrapper-inactive {
  padding: 0;
}

.form-container .form-wrapper form {
  width: 100%;
}

.form-container .form-wrapper form[data-active="false"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.form-container .form-wrapper form[data-active="true"] {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

.form-container > div,
.form-container form {
  padding: 12px;
}

@media screen and (min-width: 769px) {
  .form-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .form-container * {
    font-size: 18px;
  }
  .form-container .form-wrapper form[data-active="false"] {
    position: relative;
    opacity: 0;
    pointer-events: none;
  }
  .form-container .form-wrapper form[data-active="true"] {
    position: relative;
    opacity: 1;
    pointer-events: all;
  }
  .account-action.--account-action {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    width: 50%;
    height: 100%;
    position: absolute;
  }
}

.account-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--main);
  z-index: 2;
}

.account-action.active-slide .cont-wrapper .sign-up-cont {
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  position: relative;
}

.account-action.active-slide .cont-wrapper .sign-in-cont {
  -webkit-transform: translate(0, 0) scale(0);
          transform: translate(0, 0) scale(0);
  position: absolute;
}

.account-action .cont-wrapper {
  position: relative;
  -webkit-transition: all 0.22s ease;
  transition: all 0.22s ease;
}

.account-action .cont-wrapper .sign-in-cont {
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  position: relative;
}

.account-action .cont-wrapper .sign-up-cont {
  -webkit-transform: translate(0, 0) scale(0);
          transform: translate(0, 0) scale(0);
  position: absolute;
}

.account-action .sign-up-cont, .account-action .sign-in-cont {
  height: 100%;
  position: relative;
  top: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  -webkit-transition: all 0.42s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.42s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.account-action .sign-up-cont h1, .account-action .sign-up-cont p, .account-action .sign-up-cont button, .account-action .sign-in-cont h1, .account-action .sign-in-cont p, .account-action .sign-in-cont button {
  color: var(--background);
  margin: 12px 12px;
}

.account-action .sign-up-cont h1, .account-action .sign-in-cont h1 {
  font-size: 30px;
}

.account-action .sign-up-cont p, .account-action .sign-in-cont p {
  color: var(--background);
}

.account-action button#switch.action-btn {
  display: none;
}

@media screen and (min-width: 769px) {
  .account-action {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    display: block;
    padding: 0 !important;
    overflow: hidden;
  }
  .account-action.active-slide .cont-wrapper {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .account-action .cont-wrapper {
    position: absolute;
    width: 200%;
    height: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .account-action .cont-wrapper .sign-up-cont, .account-action .cont-wrapper .sign-in-cont {
    width: 50%;
    height: 100%;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    position: relative;
  }
  .account-action .cont-wrapper .sign-up-cont.active-acc-cont, .account-action .cont-wrapper .sign-in-cont.active-acc-cont {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    position: relative;
  }
  .account-action .cont-wrapper .sign-up-cont h1, .account-action .cont-wrapper .sign-up-cont p, .account-action .cont-wrapper .sign-in-cont h1, .account-action .cont-wrapper .sign-in-cont p {
    color: var(--background);
    margin: 12px 12px;
  }
  .account-action .cont-wrapper .sign-up-cont h1, .account-action .cont-wrapper .sign-in-cont h1 {
    font-size: 38px;
  }
  .account-action .cont-wrapper .sign-up-cont button, .account-action .cont-wrapper .sign-in-cont button {
    margin: 12px 12px;
  }
  .slider-active {
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .form-active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    z-index: -1;
  }
}

.form-content-cont {
  width: 85%;
  margin: auto;
  position: relative;
}

.form-content-cont > div {
  margin: 0 0 18px 0;
}

.group-cont {
  display: inline-block;
  width: 100%;
  margin: 12px 0;
}

.group-cont > div {
  margin: 0 0 18px 0;
}

.group-cont > div.radio-field-cont {
  margin-bottom: 0;
}

.group-cont > div:nth-last-of-type(1) {
  margin: 0;
}

@media screen and (min-width: 769px) {
  .group-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .group-cont > div {
    margin: 0;
  }
  .group-cont .input-field-cont {
    margin-right: 18px;
  }
  .group-cont .input-field-cont:nth-last-child(1) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.input-field-cont {
  height: 70px;
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.input-field-cont input {
  width: 100%;
  height: 100%;
  padding: 18px 0 0 18px;
  font-family: sans-serif;
  outline: none;
}

.input-field-cont input:focus + label span {
  -webkit-transform: translateY(-112.5%) scale(0.8);
          transform: translateY(-112.5%) scale(0.8);
  opacity: 0.6;
  -webkit-transform-origin: left;
          transform-origin: left;
  color: var(--main);
  transform: translateY(-112.5%) scale(0.8);
  opacity: 0.6;
  transform-origin: left;
}

.input-field-cont input:valid + label span {
  -webkit-transform: translateY(-112.5%) scale(0.8);
          transform: translateY(-112.5%) scale(0.8);
  opacity: 0.6;
  -webkit-transform-origin: left;
          transform-origin: left;
  color: var(--main);
}

.input-field-cont label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input-field-cont label span {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.radio-field-cont {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-field-cont label {
  margin: 0 18px 0 0;
  cursor: pointer;
  padding: 12px;
}

button[type="submit"] {
  /* background: none; */
}
