$paddings: (1, 2, 3, 4);

@each $val in $paddings {
    .p-#{$val} {
        padding: #{$val * 10}px;
    }
    .py-#{$val} {
        padding: #{$val * 10}px 0;
    }
    
    .px-#{$val} {
        padding: 0 #{$val * 10}px;
    }
    .pxr-#{$val} {
        padding-left: #{$val * 10}px;
    }
}

// @mixin padClass($valtop, $valright, $valbottom, $valleft) {
//     padding: $valtop $valright $valbottom $valleft;
// }


.right-open {
    right: 0 !important;
}

.typing-color {
    font-weight: bold;
    color: green;
}

.no-display {
    display: none;
}

.actions-mobile.comeout{
    display: grid;
}

.img-div {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    transition: 200ms;
}

.img-cover {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 200ms;
    

    & > .profile-img-det, .profile-img-friend {
        width: inherit;
        height: inherit;
        border-radius: 50%;
    }
}

.img-div.action.full {
    position: absolute;
    top: 0;
    z-index: 6;
    background: #000;
    left: 0;
    width: 100vw;
    padding: 0;
    border-radius: 0;
    height: 100vh;
    transition: 200ms;
    display: flex;
    align-items: center;

    .img-cover.full {
        width: 100vw;
        height: 50vh;
        border-radius: 0;
        transform: translateY(-12%);

        &>img {
            border-radius: 0;
        }
    }
}

