
@import 'config';
@import 'profile';

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {

    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    grid-template-areas: "message-area main-area";
    transition: 200ms ease-in-out;

    &.add-profile {
        grid-template-columns: 1fr 3fr 1fr;
    }
}


.messages-area {
    background: #fff;
    grid-area: message-area;
    display: grid;
    grid-template-areas: 
        'top'
        'activity-area'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 120px 6fr;
    transition: all 1s;
}

.main-area {
    grid-area: main-area;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .265fr 3fr .35fr;
    grid-template-areas: 
        "chat-header"
        "chat-area"
        "chat-form"  
    ;
}

.messages-div, .search-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
    overflow-y: scroll;
}

.inactive-left {
    display: none;
}

.active-left {
    display: grid;
    grid-area: activity-area;
}

.messages-div::-webkit-scrollbar {
    width: 3px;
}


.messages-div::-webkit-scrollbar-thumb {
    background: #eee;
}

.messages-div::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 153, 153);
}

.messages-div::-webkit-scrollbar:hover .messages-div::-webkit-scrollbar-thumb {
    background: rgb(152, 153, 153);
}

.messages-div::-webkit-scrollbar-track {
    background: #eee;
}

.message {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 1fr;
    padding: 10px 10px;
    cursor: pointer;
    /* overflow: hidden; */
}

.message:hover,
.message:active {
    background: #eee;
}



 .image-div {
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.friend-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.message .msg-text-name {
    color: #000;
    display: grid;
    padding-right: 15px;
    overflow: hidden;
}

#username {
    font-weight: 600;
}

.msg-text-name .msg-content {
    padding: 0 3px;
    padding-right: 15px;
    height: 20px;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.msg-text-name .friend-name{
    padding: 3px 3px 0;
}

.msg-content .msg-span {
    font-size: 12px;
    margin-left: 2px;
}

.chat-header {
    background: #e5e5e5;
    grid-area: chat-header;
    display: grid;
    grid-template-columns: auto 3fr auto;
    grid-template-rows: 100%;
    padding: 10px 16px 10px 16px;
    height: 60px;
}

.header-img {
    height: 40px;
    width: 40px;
}


.chat-area {
    background: #fff;
    grid-area: chat-area;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
}

.message-row {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 70%;
}

.you-message {
    justify-content: end;
    justify-items: end;
}

.other-message {
    justify-content: start;
    justify-items: start;
}

.message-text {
    padding: 9px 14px;
    font-size: 1rem;
    margin-bottom: 5px;
}

.you-message .message-text { 
    background: lighten($themecolor, 5%);
    color: #eee;
    border: 1px solid lighten($themecolor, 5%);
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    background: #eee;
    color: #111;
        border: 1px solid #ddd;
        border-radius: 14px 14px 14px 0;
}

.message-time {
    font-size: .8rem;
    color: #777;
}

.messages {
    background: rgb(5, 33, 71);
}

.top {
    display: grid;
    grid-area: top;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;
    border-right: 3px solid #eee;
}

.actions {
    background: #e5e5e5;
    padding-left: 20px;
    display: flex;
    align-items: center;

    &>.img-cover{
        width: 50px;
        height: 50px;
    }
}

.search-container {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    width: 80%;
    border: none;
    outline: none;
    color: #111;
    height: 30px;
    padding: 0 10px;
    background: #eee;
}

.top .logo {
    padding: 0 20px;
}

.top .profile-img-div {
    padding: 0 20px;
}

.friend-header-img-div {
    width: 50px;
    height: 100%;
    z-index: 3;
    background: inherit;
}

.friend-header-img-div .img-container {
    width: 100%;
    height: 100%;
}

.main-header {
    display: grid;
}

/* .main-header .name {
    padding-top: 5px;
} */

.main-header .lastseen {
    font-size: 13px;
    color: #777;
    padding-top: 5px;
}

#lastseen {
    position: relative;
    /* left: -50%; */
    top: 0;
    z-index: 1;
}

.header-actions {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto auto;
    width: 100px;
    position: relative;
}

.action {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    color: #777;
    border-radius: 50%;
    width: 30px;
}

.action i{
    pointer-events: none;
}

/* .action:active {
    background: #d3d0d0;
} */

/*Dropdown for menu*/
#dropdown{
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
    background: #fff;
    margin: 0;
    opacity: 0;
    display: none;
    transition: all 0.12s ease-in;
    width: max-content;
}

.show{
    opacity: 1!important;
    display: block!important;
    transform: translate(-100%, 0);

}

#dropdown ul{
    list-style-type: none;
    padding: 0;
    width: max-content;    
    margin: 0;
}

#dropdown ul li{
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
}

#dropdown ul li:hover{
    background: rgba(0, 0, 0, 0.18);
}
#dropdown ul li:active{
    background: rgba(0, 0, 0, 0.795);
    color: #fff;
}

.chat-form {
    background: #e5e5e5;
    grid-area: chat-form ;
    display: grid !important;
    grid-template-columns: auto 1fr auto;
    padding: 10px 20px;
}

.form-action {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #777;    
}

.form-action:active {
    transform: scale(.9);
}

.emoji-div {

}

.form-icon {
    font-size: 35px;
}

.msg-input {
    display: flex;
    justify-content: center;
    align-items: center;

    #message-box {
        width: 95%;
        display: grid;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 17px;
        outline: none;
        padding-left: 20px;
        font-size: 17px;
    }
}


.send-div {

}

.back {
    display: none;
}

.actions-mobile {
    display: none;
    grid-template-columns: 1fr auto auto;
    width: 100%;
    height: 60px;
}

.actions-action {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.app-name {
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.msg-day {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    color: #444;
    margin-bottom: 20px;
}


.search-box {
    position: absolute;
    right: 50px;
    z-index: 10;
    height: 60px;
    background: inherit;
    color: #fff;
}

.search-box.inactive {
    display: none;
}

.search-txt.active {
    width: calc(100vw - 100px);
    padding: 0 6px;
    float: right;
}



.search-btn, .close {
    color: #fff !important;
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    padding: 0;
    font-size: 18px;
    transition: 0.4s;
    line-height: 60px;
    width: 0;
}

.search-txt.desktop {
    width: 90%;
    color: #000;
    font-size: 14px;
    height: 50%;
    background: #eee;
    padding-left: 10px;
}

.search-txt.desktop:active, .search-txt.desktop:hover {
    background: #fff;
    border: 1px solid rgba(100, 100, 100, .5);
}

input.search-txt.desktop::placeholder {
    color: rgba(0, 0, 0, .5);
}

input.search-txt::placeholder, input.search-txt:-ms-input-placeholder {
    color: #fff;
}

@import 'utilities';
@import 'mobile';
