
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Grid
        script(src='https://kit.fontawesome.com/02c2434f59.js' crossorigin='anonymous')
        link(rel='stylesheet' href='/css/grid.css')

    body
        .container(data-user=`${user}`)
          .messages-area.active-area
              .top
                .actions
                .search-container
                  input.search(type='text' placeholder='Search')
                  button.submit(type="submit") Search
              .messages-div.active-left
                  each friend in friends
                      .message(data-img='/src/img/download.png' data-username=`${friend.username}`)
                          .image-div
                              img.friend-avatar(src='/src/img/download.png' alt='image of friend' srcset='')
                          .msg-text-name
                              .friend-name
                                  span#username #{friend.first_name + ' ' + friend.last_name}
                              .msg-content
                                  span.msg-span #{friend.messages[friend.messages.length-1]}
              .search-div.inactive-left
                  .message(data-img='/src/img/download.png' data-username='')
                          .image-div
                              img.friend-avatar(src='/src/img/download.png' alt='image of friend' srcset='')
                          .msg-text-name
                              .friend-name
                                  span#username Big Boy
                              .msg-content
                                  span.msg-span @john
                  

          .main-area
              .chat-header
                .back
                    i.fas.fa-arrow-left
                .friend-header-img-div
                    .img-container
                      img#header-img.friend-avatar.header-img(src='' alt='profile picture' srcset='')
                .main-header
                  .name
                    span#header-username Yvonne Jeffrey
                  .lastseen
                    span#lastseen last seen at 11:09
                .header-actions
                  span.action
                    i.fas.fa-search.header-icon
                  span.action
                    i.fas.fa-paperclip.header-icon
                  span#more.action
                    i.fas.fa-ellipsis-v.header-icon#more-icon
                  #dropdown.e
                    ul
                      li View Contact
                      li Media, links, docs
                      li Search
                      li Mute
                      li Wallpaper
                      li More
              .chat-area
                .message-row.you-message
                    .message-text Let&apos;s see now
                    .message-time
                      span.time Apr 16 
                      span
                        i.fas.fa-check
                .message-row.other-message
                    .message-text
                      | Yeah I think it&apos;s best we do that, otherwise things
                      | won&apos;t work well at all. Im adding more text here to test
                      | the sizing of the speech bubble and the wrapping of it too.
                    .message-time 
                      span.time Apr 16 
                         
              .chat-form
                .emoji-div.form-action
                    i.far.fa-grin.form-icon
                .msg-input
                    input#message-box(name='' placeholder='Type a message')
                .send-div.form-action.submit
                    i.fas.fa-paper-plane.form-icon
        script(src="/socket.io/socket.io.js")
        script(src="/js/jquery-3.4.1.min.js")
        script(src='/js/grid.js' type="module")
        script(src="/js/chat.js" type="module")
        script(src="/js/search.js" type="module")
        script(src="/js/ui.js")
        script(src="/js/notifications.js" type="module")

