doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="./css/login-up.css")
  body
    #main.material-theme--main
      .form-container.material-theme--container
        .account-action.material-theme--account-action
          a(href="/create_account")
            button.action-btn.material-theme--btn
              span Create an account.
        .form-wrapper
          form(action="/login", method="POST")
            input.material-theme--input(autocomplete="false", name="hidden", type="text", style="display:none")
            .form-content-cont
              .input-field-cont
                input#username.material-theme--input(type="text", name="username", autocomplete="off", required="required")
                label(for="username")
                  span Username
              .input-field-cont
                input#password.material-theme--input(type="password", name="password", autocomplete="new-password", required="required")
                label(for="password")
                  span Password
              button.action-btn.material-theme--btn(type="submit")
                span Login
