doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="./css/login-up.css")
  body
    #main.solid-theme--main
      .form-container.solid-theme--container
        #slider.account-action.solid-theme--account-action
          //- a(href="/create_account")
          button#switch.action-btn.solid-theme--btn
            span Create an account.

        .form-wrapper  
          form#create-account.form-active(data-active="false", action="/create_account", method="POST")
            .form-content-cont
              .input-field-cont
                input#null1.solid-theme--input.username( type="text", name="username", autocomplete="off", required="required")
                label(for="username")
                  span Username
              .group-cont
                .input-field-cont
                  input#firstname.solid-theme--input(type="text", name="firstname", autocomplete="off", required="required")
                  label(for="firstname")
                    span First Name
                .input-field-cont
                  input#lastname.solid-theme--input(type="text", name="lastname", autocomplete="off", required="required")
                  label(for="lastname")
                    span Last Name
              .group-cont
                label(for="male") Male
                input#male(type="radio" name="gender" value="male") 

                label(for="female") Female
                input#female(type="radio" name="gender" value="female") 

              .input-field-cont
                input#null2.solid-theme--input.password(type="password", name="password", autocomplete="new-password", required="required")
                label(for="password")
                  span Password

              button.action-btn.solid-theme--btn(type="submit")
                span Sign Up


        .form-wrapper
          form#sign-in(data-active="true",action="/login", method="POST")
            .form-content-cont
              .input-field-cont
                input#username.solid-theme--input.username(data-active="true", type="text", name="username", autocomplete="off", required="required")
                label(for="username")
                  span Username
              .input-field-cont
                input#password.solid-theme--input.password(data-active="true", type="password", name="password", autocomplete="new-password", required="required")
                label(for="password")
                  span Password
              button.action-btn.solid-theme--btn(type="submit")
                span Login


    script(src="./js/account-func.js")
