<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/grid.css")
        title Profile
    body
        .you-profile.child.right-open
            .actions-mobile
              .action.back2
                i.fas.fa-arrow-left
              .action-header
                span
                  |Settings
            .body
              .details
                .img-div.pxr-2
                  .img-cover
                    img.profile-img-det(src="https://res.cloudinary.com/judge/image/upload/v1586180319/ha8pi1tgb5agwkxaykmm.jpg", alt="", srcset="")
                .name
                   h4 #{fullname}
              .profile-actions.px-2
                ul.action-list
                  li.p-action
                    input(type="file" name="avatar" id="file" accept=".jpg,.jpeg,.png")
                    label(for="file") Upload Photo
                  hr