body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.parent_container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    width: 100%;
}
.text-box {
    position: fixed;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 80%;
    height: 50px;
    bottom: 0;
    padding-bottom: 15px;
}
.container {
    width: inherit;
}
.send_msg {
    width: 100%;
    height: inherit;
}
.box {
    width: 75%;
    height: inherit;
}
.submit {
    height: inherit;
}
.message-div {
    height: calc(100vh - 130px);
    width: 100%;
    overflow-y: scroll;
}
.messages {
    padding: 0;
    position: relative;
    width: 100%;
}
.msg {
    height: 30px;
    width: 50%;
    background: #e9e9e9;
    list-style: none;
    padding: 10px;
    margin-bottom: 7px;
}
.msg_sent {
    margin-left: 45%;
}
.change_username {
    
}
.is_typing {
    width: 100%;
    height: inherit;
    margin-top: 0;
}
.div-small {
    height: 40px;
}
.t_p {
    height: inherit;
    width: inherit;
    margin: 0;
}
.right {
    position: fixed;
    overflow-y: scroll;
    width: 70%;
    height: 100%;
    right: 0;
    /* display: none; */
}
.left.friends_div {
    position: fixed;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    background-color: antiquewhite;
}
.holder {
    margin-top: 0;
    height: 40px;
    padding-left: 10px;
}
p.activity_status {
    margin-top: 0px;
    padding: 0;
    transform: translateY(-10px);
    font-size: 15px;
    color: #00ff00;
    animation-name: fade_in;
    animation-delay: .2s;
}
@keyframes fade_in {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: .5;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(-10px);
    }
}
.friends_list {
    list-style: none;
}
.friend_obj {
    width: 100%;
    height: 50px;
    padding: 10px 10px;
}
.friend_obj:hover {
    background-color: rgb(222, 235, 232);
}
.names {
    display: flex;
}
p.username {
    margin-left: 8px;
}
p.msg_content {
    font-size: 12px;
    transform: translateY(-18px);
}
.results {
    width: inherit;
    height: 60vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 15px 7px rgba(0, 0, 0, .3);
    position: fixed;
    top: 40px;
    display: none
}
.addFriend {
    background-color: blue;
    color: white;

}
@media screen and (max-width: 768px) {
    .send_msg {
        display: flex;
    }
    .container {
        padding: 0 20px;
    }
}